body{
    background-color: #47c9af;
    width: 100%;
    height: 100%;
    font-size: 100%;
    line-height: 1.25;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #fff;
}

#metronome {
    height: 100%;
    width: 60%;
    margin-left: 20%;
    position: relative; 
}

#buttons{
    float:left;
    width:100%;
    padding:0;
    margin:0;
    margin-left: 15%;
    margin-top: 10%;
    list-style-type:none;
    position: absolute;
    top:180%;
}

#buttons li{
    display:inline;
    float:left;
    text-decoration:none;
}

.button{
    width:4em;
    height:4em;
    background-color:#16a085;
    color : #fff;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    -o-border-radius:100px;
    border-radius:100px;
    text-align: center;
    vertical-align: middle;
    line-height: 4em;
    cursor:pointer;
    margin: 2%; 
}

.button:hover{
    background: #fff;
    color: #16a085;
    -webkit-transition: -webkit-transform 0.3s, color 0.3s, background 0.3s;
    transition: transform 0.3s, color 0.3s, background 0.3s;
}

#mesureHaut{
    line-height: 4.5em;
}

#mesureBas{
    line-height: 5em;
}

#afficheur{
    width:100%;
    min-height: 200px;
    position: relative;
    top:40px;
    text-align: center;    
    font-size: 1.5em;
}

#afficheurGauche{
    width:45%;
    min-height:150px;
    position: absolute;
    left : 0px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;    
    position: absolute;
    top:15px;
}
#afficheurDroit{
    position: absolute;
    width:45%;
    min-height:150px;
    position: absolute;
    right : 0px;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}

.taille{
    font-size: 5em;
}

#leds{    
    float:right;
    width:40%;
    padding:0;
    margin:0;
    left: 48%;
    display: block;
    list-style-type:none;
    position: absolute;
}

#ledUn{
    width:30px;
    height:30px;
    background:#FFFFFF;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    -o-border-radius:100px;
    border-radius:100px;
    margin-bottom: 5%;  
}

#ledDeux{
    width:30px;
    height:30px;
    background:#FFFFFF;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    -o-border-radius:100px;
    border-radius:100px;
}

#sliders{
    float:left;
    width:100%;
    padding:0;
    margin:0;
    margin-left: 15%;
    position: absolute;
    display: inline;
    top:170%;
}

#reglageTempo{
    width:72%;
    height: 5px;
    position: relative;
    margin-bottom: 3%;
}

#reglageVolume{
    width:72%;
    height: 5px;
    position: relative;
}


#getReglageMesure{
    display:inline;
}

#getReglageTempo{
    display:inline;
}

#getSpeakerValue{
    display:inline;
}
